[submodule "Mods/Aura"]
	path = Mods/Aura
	url = https://github.com/MathIsFun0/Aura
[submodule "Mods/JokerDisplay"]
	path = Mods/JokerDisplay
	url = https://github.com/nh6574/JokerDisplay
[submodule "Mods/JokerSellValue"]
	path = Mods/JokerSellValue
	url = https://github.com/OppositeWolf770/JokerSellValue
[submodule "Mods/Trance"]
	path = Mods/Trance
	url = https://github.com/Dimserene/Trance
[submodule "Mods/Jimbo-s-Pack"]
	path = Mods/Jimbo-s-Pack
	url = https://github.com/art-muncher/Jimbo-s-Pack
[submodule "Mods/MystBlinds"]
	path = Mods/MystBlinds
	url = https://github.com/Mysthaps/MystBlinds
[submodule "Mods/The-World-Ends-With-Jimbo"]
	path = Mods/The-World-Ends-With-Jimbo
	url = https://github.com/parchmentEngineer/The-World-Ends-With-Jimbo
[submodule "Mods/Steamodded"]
	path = Mods/Steamodded
	url = https://github.com/Steamopollys/Steamodded
[submodule "Mods/Ortalab-DEMO"]
	path = Mods/Ortalab-DEMO
	url = https://github.com/GauntletGames-2086/Ortalab-DEMO
	branch = test
[submodule "Mods/BonusBlinds"]
	path = Mods/BonusBlinds
	url = https://github.com/Dimserene/BonusBlinds
[submodule "Mods/JokerDisplayModSupport"]
	path = Mods/JokerDisplayModSupport
	url = https://github.com/nh6574/JokerDisplayModSupport/
[submodule "Mods/DebugPlus"]
	path = Mods/DebugPlus
	url = https://github.com/Dimserene/DebugPlus
[submodule "Mods/FoldButton"]
	path = Mods/FoldButton
	url = https://github.com/happinyz/BalatroFoldButton
[submodule "Mods/NotJustYet"]
	path = Mods/NotJustYet
	url = https://github.com/Toneblock/balatro-NotJustYet
[submodule "Mods/BalatroSafety"]
	path = Mods/BalatroSafety
	url = https://github.com/Zei33/balatro-safety-steamodded
[submodule "Mods/Cartomancer"]
	path = Mods/Cartomancer
	url = https://github.com/stupxd/Cartomancer
[submodule "Mods/KCVanilla"]
	path = Mods/KCVanilla
	url = https://github.com/kcgidw/kcvanilla
[submodule "Mods/MoreJokerPacks"]
	path = Mods/MoreJokerPacks
	url = https://github.com/Samario1/MoreJokerPacks
[submodule "Mods/Virtues"]
	path = Mods/Virtues
	url = https://github.com/someone23832/Virtues
[submodule "Mods/SDM_0-s-Stuff"]
	path = Mods/SDM_0-s-Stuff
	url = https://github.com/SDM0/SDM_0-s-Stuff
[submodule "Mods/PampaJokerPack"]
	path = Mods/PampaJokerPack
	url = https://github.com/Dimserene/PampaJokerPack
[submodule "Mods/Joker-Evolution"]
	path = Mods/Joker-Evolution
	url = https://github.com/SDM0/Joker-Evolution
[submodule "Mods/Snow-s-Mods"]
	path = Mods/Snow-s-Mods
	url = https://github.com/RattlingSnow353/Snow-s-Mods
[submodule "Mods/Fusion-Jokers"]
	path = Mods/Fusion-Jokers
	url = https://github.com/Dimserene/Fusion-Jokers
[submodule "Mods/Jestobiology"]
	path = Mods/Jestobiology
	url = https://github.com/spikeof2010/Jestobiology
[submodule "Mods/JankJonklers"]
	path = Mods/JankJonklers
	url = https://github.com/Dimserene/JankJonklers
[submodule "Mods/SpicyJokers"]
	path = Mods/SpicyJokers
	url = https://github.com/Dimserene/SpicyJokers
[submodule "Mods/ModpackDecks"]
	path = Mods/ModpackDecks
	url = https://github.com/Dimserene/ModpackDecks
[submodule "Mods/Paperback"]
	path = Mods/Paperback
	url = https://github.com/GitNether/Paperback
[submodule "Mods/Handy"]
	path = Mods/Handy
	url = https://github.com/SleepyG11/HandyBalatro
[submodule "Mods/Galdur"]
	path = Mods/Galdur
	url = https://github.com/Eremel/Galdur/
[submodule "Mods/Alices_Annum"]
	path = Mods/Alices_Annum
	url = https://github.com/ThreeCubed273/alices_annum_balatro_mod
[submodule "Mods/BBBalatro"]
	path = Mods/BBBalatro
	url = https://github.com/BBBalatroMod/BBBalatro
[submodule "Mods/Bunco"]
	path = Mods/Bunco
	url = https://github.com/Dimserene/Bunco
[submodule "Mods/Balatro-Jokers-Plus"]
	path = Mods/Balatro-Jokers-Plus
	url = https://github.com/KaviD-115/Balatro-Jokers-Plus
[submodule "Mods/CardSleeves"]
	path = Mods/CardSleeves
	url = https://github.com/larswijn/CardSleeves
[submodule "Mods/BossJokers"]
	path = Mods/BossJokers
	url = https://github.com/KilledByLava/BossJokers
[submodule "Mods/Bird-Jokers"]
	path = Mods/Bird-Jokers
	url = https://github.com/JustinBanzon/Bird-Jokers
[submodule "Mods/MathBlinds"]
	path = Mods/MathBlinds
	url = https://github.com/Bazinga9000/MathBlinds
