[submodule "Mods/JokerDisplay"]
	path = Mods/JokerDisplay
	url = https://github.com/nh6574/JokerDisplay
[submodule "Mods/JokerSellValue"]
	path = Mods/JokerSellValue
	url = https://github.com/OppositeWolf770/JokerSellValue
[submodule "Mods/MystBlinds"]
	path = Mods/MystBlinds
	url = https://github.com/Mysthaps/MystBlinds
[submodule "Mods/Steamodded"]
	path = Mods/Steamodded
	url = https://github.com/Steamopollys/Steamodded
[submodule "Mods/DebugPlus"]
	path = Mods/DebugPlus
	url = https://github.com/Dimserene/DebugPlus
[submodule "Mods/BalatroSafety"]
	path = Mods/BalatroSafety
	url = https://github.com/Zei33/balatro-safety-steamodded
[submodule "Mods/Cartomancer"]
	path = Mods/Cartomancer
	url = https://github.com/stupxd/Cartomancer
[submodule "Mods/MoreJokerPacks"]
	path = Mods/MoreJokerPacks
	url = https://github.com/Samario1/MoreJokerPacks
[submodule "Mods/Virtues"]
	path = Mods/Virtues
	url = https://github.com/someone23832/Virtues
[submodule "Mods/SDM_0-s-Stuff"]
	path = Mods/SDM_0-s-Stuff
	url = https://github.com/SDM0/SDM_0-s-Stuff
[submodule "Mods/Joker-Evolution"]
	path = Mods/Joker-Evolution
	url = https://github.com/SDM0/Joker-Evolution
[submodule "Mods/Snow-s-Mods"]
	path = Mods/Snow-s-Mods
	url = https://github.com/RattlingSnow353/Snow-s-Mods
[submodule "Mods/Fusion-Jokers"]
	path = Mods/Fusion-Jokers
	url = https://github.com/Dimserene/Fusion-Jokers
[submodule "Mods/Jestobiology"]
	path = Mods/Jestobiology
	url = https://github.com/spikeof2010/Jestobiology
[submodule "Mods/ModpackDecks"]
	path = Mods/ModpackDecks
	url = https://github.com/Dimserene/ModpackDecks
[submodule "Mods/Paperback"]
	path = Mods/Paperback
	url = https://github.com/GitNether/Paperback
[submodule "Mods/Handy"]
	path = Mods/Handy
	url = https://github.com/SleepyG11/HandyBalatro
[submodule "Mods/Galdur"]
	path = Mods/Galdur
	url = https://github.com/Eremel/Galdur/
[submodule "Mods/BBBalatro"]
	path = Mods/BBBalatro
	url = https://github.com/BBBalatroMod/BBBalatro
[submodule "Mods/Bunco"]
	path = Mods/Bunco
	url = https://github.com/Dimserene/Bunco
[submodule "Mods/Balatro-Jokers-Plus"]
	path = Mods/Balatro-Jokers-Plus
	url = https://github.com/KaviD-115/Balatro-Jokers-Plus
[submodule "Mods/CardSleeves"]
	path = Mods/CardSleeves
	url = https://github.com/larswijn/CardSleeves
[submodule "Mods/BossJokers"]
	path = Mods/BossJokers
	url = https://github.com/KilledByLava/BossJokers
[submodule "Mods/Bird-Jokers"]
	path = Mods/Bird-Jokers
	url = https://github.com/JustinBanzon/Bird-Jokers
[submodule "Mods/MathBlinds"]
	path = Mods/MathBlinds
	url = https://github.com/Bazinga9000/MathBlinds
[submodule "Mods/KCVanilla"]
	path = Mods/KCVanilla
	url = https://github.com/kcgidw/kcvanilla
[submodule "Mods/Flower-Pot"]
	path = Mods/Flower-Pot
	url = https://github.com/GauntletGames-2086/Flower-Pot
[submodule "Mods/Talisman"]
	path = Mods/Talisman
	url = https://github.com/Dimserene/Talisman
[submodule "Mods/PampaJokerPack"]
	path = Mods/PampaJokerPack
	url = https://github.com/lshtech/balatro-pampa-joker-pack
[submodule "Mods/TooManyJokers"]
	path = Mods/TooManyJokers
	url = https://github.com/cg-223/toomanyjokers
[submodule "Mods/No-Laughing-Matter"]
	path = Mods/No-Laughing-Matter
	url = https://github.com/Minirebel/no-laughing-matter
[submodule "Mods/MoreFluff"]
	path = Mods/MoreFluff
	url = https://github.com/notmario/MoreFluff
[submodule "Mods/LushMod"]
	path = Mods/LushMod
	url = https://github.com/lshtech/LushMod
[submodule "Mods/HandPreview"]
	path = Mods/HandPreview
	url = https://github.com/lshtech/Balatro-HandPreview
[submodule "Mods/Trance"]
	path = Mods/Trance
	url = https://github.com/MathIsFun0/Trance
[submodule "Mods/ModPackFixes"]
	path = Mods/ModPackFixes
	url = https://github.com/lshtech/ModPackFixes
[submodule "Mods/HeyListen"]
	path = Mods/HeyListen
	url = https://github.com/SleepyG11/HeyListenBalatro
[submodule "Mods/DiscoveryManager"]
	path = Mods/DiscoveryManager
	url = https://github.com/lshtech/DiscoveryManager
[submodule "Mods/The-World-Ends-With-Jimbo"]
	path = Mods/The-World-Ends-With-Jimbo
	url = https://github.com/Dimserene/The-World-Ends-With-Jimbo
[submodule "Mods/Blueprint"]
	path = Mods/Blueprint
	url = https://github.com/stupxd/Blueprint
[submodule "Mods/SpicyJokers"]
	path = Mods/SpicyJokers
	url = https://github.com/lshtech/SpicyJokers
[submodule "Mods/JankJonklers"]
	path = Mods/JankJonklers
	url = https://github.com/spikeof2010/JankJonklers
[submodule "Mods/Potatro"]
	path = Mods/Potatro
	url = https://github.com/balt-dev/potatro/
[submodule "Mods/Aure-Spectral"]
	path = Mods/Aure-Spectral
	url = https://github.com/Eremel/Aure-Spectral/
[submodule "Mods/5CEBalatro"]
	path = Mods/5CEBalatro
	url = https://github.com/lshtech/5CEBalatro
[submodule "Mods/Buffoonery"]
	path = Mods/Buffoonery
	url = https://github.com/pinkmaggit-hub/Buffoonery/
[submodule "Mods/FloundersJokers"]
	path = Mods/FloundersJokers
	url = https://github.com/Flounderlul/FloundersJokers
[submodule "Mods/JestersPrivilege"]
	path = Mods/JestersPrivilege
	url = https://github.com/unethikeele/JestersPrivilege
[submodule "Mods/Matchbox"]
	path = Mods/Matchbox
	url = https://github.com/lshtech/Matchbox
[submodule "Mods/MOARJokers"]
	path = Mods/MOARJokers
	url = https://github.com/MrSmoothieHuman1/MOARJokers
[submodule "Mods/Multi-Jokers"]
	path = Mods/Multi-Jokers
	url = https://github.com/lshtech/multi-jokers
[submodule "Mods/MystesOpenJokers"]
	path = Mods/MystesOpenJokers
	url = https://github.com/lshtech/MystesOpenJokers
[submodule "Mods/Ortalab-Demo"]
	path = Mods/Ortalab-Demo
	url = https://github.com/Eremel/Ortalab-Demo
[submodule "Mods/Reverie"]
	path = Mods/Reverie
	url = https://github.com/dvrp0/reverie
[submodule "Mods/Taikomochi"]
	path = Mods/Taikomochi
	url = https://github.com/Amvoled/Taikomochi
[submodule "Mods/Tetrapak"]
	path = Mods/Tetrapak
	url = https://github.com/lshtech/Tetrapak
[submodule "Mods/The-Buffoon-Pack"]
	path = Mods/The-Buffoon-Pack
	url = https://github.com/lshtech/The-Buffoon-Pack
[submodule "Mods/LunasBalatroMods"]
	path = Mods/LunasBalatroMods
	url = https://github.com/LunaAstraCassiopeia/LunasBalatroMods
