[submodule "Mods/JokerDisplay"]
	path = Mods/JokerDisplay
	url = https://github.com/nh6574/JokerDisplay
[submodule "Mods/MystBlinds"]
	path = Mods/MystBlinds
	url = https://github.com/Mysthaps/MystBlinds
[submodule "Mods/Cartomancer"]
	path = Mods/Cartomancer
	url = https://github.com/stupxd/Cartomancer
[submodule "Mods/MoreJokerPacks"]
	path = Mods/MoreJokerPacks
	url = https://github.com/Samario1/MoreJokerPacks
[submodule "Mods/Virtues"]
	path = Mods/Virtues
	url = https://github.com/someone23832/Virtues
[submodule "Mods/SDM_0-s-Stuff"]
	path = Mods/SDM_0-s-Stuff
	url = https://github.com/SDM0/SDM_0-s-Stuff
[submodule "Mods/Joker-Evolution"]
	path = Mods/Joker-Evolution
	url = https://github.com/SDM0/Joker-Evolution
[submodule "Mods/Snow-s-Mods"]
	path = Mods/Snow-s-Mods
	url = https://github.com/RattlingSnow353/Snow-s-Mods
[submodule "Mods/Jestobiology"]
	path = Mods/Jestobiology
	url = https://github.com/spikeof2010/Jestobiology
[submodule "Mods/ModpackDecks"]
	path = Mods/ModpackDecks
	url = https://github.com/Dimserene/ModpackDecks
[submodule "Mods/Paperback"]
	path = Mods/Paperback
	url = https://github.com/GitNether/Paperback
[submodule "Mods/Galdur"]
	path = Mods/Galdur
	url = https://github.com/Eremel/Galdur/
[submodule "Mods/BBBalatro"]
	path = Mods/BBBalatro
	url = https://github.com/BBBalatroMod/BBBalatro
[submodule "Mods/Balatro-Jokers-Plus"]
	path = Mods/Balatro-Jokers-Plus
	url = https://github.com/KaviD-115/Balatro-Jokers-Plus
[submodule "Mods/CardSleeves"]
	path = Mods/CardSleeves
	url = https://github.com/larswijn/CardSleeves
[submodule "Mods/BossJokers"]
	path = Mods/BossJokers
	url = https://github.com/KilledByLava/BossJokers
[submodule "Mods/Flower-Pot"]
	path = Mods/Flower-Pot
	url = https://github.com/GauntletGames-2086/Flower-Pot
[submodule "Mods/PampaJokerPack"]
	path = Mods/PampaJokerPack
	url = https://github.com/lshtech/balatro-pampa-joker-pack
[submodule "Mods/TooManyJokers"]
	path = Mods/TooManyJokers
	url = https://github.com/cg-223/toomanyjokers
[submodule "Mods/No-Laughing-Matter"]
	path = Mods/No-Laughing-Matter
	url = https://github.com/Minirebel/no-laughing-matter
[submodule "Mods/LushMod"]
	path = Mods/LushMod
	url = https://github.com/lshtech/LushMod
[submodule "Mods/Trance"]
	path = Mods/Trance
	url = https://github.com/MathIsFun0/Trance
[submodule "Mods/HeyListen"]
	path = Mods/HeyListen
	url = https://github.com/SleepyG11/HeyListenBalatro
[submodule "Mods/DiscoveryManager"]
	path = Mods/DiscoveryManager
	url = https://github.com/lshtech/DiscoveryManager
[submodule "Mods/Blueprint"]
	path = Mods/Blueprint
	url = https://github.com/stupxd/Blueprint
[submodule "Mods/SpicyJokers"]
	path = Mods/SpicyJokers
	url = https://github.com/lshtech/SpicyJokers
[submodule "Mods/JankJonklers"]
	path = Mods/JankJonklers
	url = https://github.com/spikeof2010/JankJonklers
[submodule "Mods/5CEBalatro"]
	path = Mods/5CEBalatro
	url = https://github.com/lshtech/5CEBalatro
[submodule "Mods/JestersPrivilege"]
	path = Mods/JestersPrivilege
	url = https://github.com/unethikeele/JestersPrivilege
[submodule "Mods/MOARJokers"]
	path = Mods/MOARJokers
	url = https://github.com/MrSmoothieHuman1/MOARJokers
[submodule "Mods/Multi-Jokers"]
	path = Mods/Multi-Jokers
	url = https://github.com/lshtech/multi-jokers
[submodule "Mods/MystesOpenJokers"]
	path = Mods/MystesOpenJokers
	url = https://github.com/lshtech/MystesOpenJokers
[submodule "Mods/Ortalab-Demo"]
	path = Mods/Ortalab-Demo
	url = https://github.com/Eremel/Ortalab-Demo
[submodule "Mods/The-Buffoon-Pack"]
	path = Mods/The-Buffoon-Pack
	url = https://github.com/lshtech/The-Buffoon-Pack
[submodule "Mods/LunasBalatroMods"]
	path = Mods/LunasBalatroMods
	url = https://github.com/LunaAstraCassiopeia/LunasBalatroMods
[submodule "Mods/Aure-Spectral"]
	path = Mods/Aure-Spectral
	url = https://github.com/SDM0/Aure-Spectral
[submodule "Mods/DebugPlus"]
	path = Mods/DebugPlus
	url = https://github.com/WilsontheWolf/DebugPlus
[submodule "Mods/FoldButton"]
	path = Mods/FoldButton
	url = https://github.com/happinyz/BalatroFoldButton
[submodule "Mods/Handy"]
	path = Mods/Handy
	url = https://github.com/SleepyG11/HandyBalatro
[submodule "Mods/Item-Remover"]
	path = Mods/Item-Remover
	url = https://github.com/art-muncher/Item-Remover
[submodule "Mods/ExtendedBlueprint"]
	path = Mods/ExtendedBlueprint
	url = https://github.com/Toneblock/balatro-ExtendedBlueprint
[submodule "Mods/ExtraCredit"]
	path = Mods/ExtraCredit
	url = https://github.com/GuilloryCraft/ExtraCredit
[submodule "Mods/Seven-Deadly-Sins"]
	path = Mods/Seven-Deadly-Sins
	url = https://github.com/lshtech/sevendeadlysins
[submodule "Mods/Fusion-Jokers"]
	path = Mods/Fusion-Jokers
	url = https://github.com/lshtech/Fusion-Jokers
[submodule "Mods/Steamodded"]
	path = Mods/Steamodded
	url = https://github.com/Steamodded/smods
[submodule "Mods/ModPackFixes"]
	path = Mods/ModPackFixes
	url = https://github.com/lshtech/ModPackFixes
[submodule "Mods/Balatro-Draft"]
	path = Mods/Balatro-Draft
	url = https://github.com/spire-winder/Balatro-Draft
[submodule "Mods/Cosmos"]
	path = Mods/Cosmos
	url = https://github.com/neatoqueen/Cosmos
[submodule "Mods/Isaactro"]
	path = Mods/Isaactro
	url = https://github.com/WilliamFlinchbaugh/Isaactro
[submodule "Mods/KCVanilla"]
	path = Mods/KCVanilla
	url = https://github.com/kcgidw/kcvanilla
[submodule "Mods/TatteredDecks"]
	path = Mods/TatteredDecks
	url = https://github.com/Cheesy-Brik/TatteredDecks
[submodule "Mods/Balatro451"]
	path = Mods/Balatro451
	url = https://github.com/SM451Modding/Balatro451/
[submodule "Mods/Bunco"]
	path = Mods/Bunco
	url = https://github.com/Dimserene/Bunco
[submodule "Mods/DeckSkinsLite"]
	path = Mods/DeckSkinsLite
	url = https://github.com/Dimserene/DeckSkinsLite
